<h1>Bares</h1>
<a class="btn btn-primary" href="/#/bar/add">
  <span class="glyphicon glyphicon-plus"></span> Novo Bar
</a>
<div data-ng-controller="BarsCtrl">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bar in bars">
        <td>
          <a ng-href="/#/bar/{{bar._id}}">{{bar.name}}</a>
        </td>
        <td>{{bar.address}}</td>
        <td>{{bar.phone}}</td>
        <td>
          <a ng-href="/#/bar/edit/{{bar._id}}" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </td>
        <td>
          <a ng-href="/#/bar/delete/{{bar._id}}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>